#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2%;
}

.input-group {
    width: 300px;
    margin: auto;
}

#chat-messages {
    height: 100px;
    overflow: scroll;
}

#chat {
    width: 80%;
    margin: auto;
}

.selfColor {
    color: #2874A6;
}

.opponentColor {
    color: #B03A2E;
}

.highlight {
    border: 1px solid #2874A6;
}

#player-turn-status {
    font-style: italic;
}